*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
    
    header{
     width: 100%;
     height: 100vh;
     background-image: url('../Image/BG.png');
     background-repeat: no-repeat;
     background-size: 100% 100%;
    
    }
    
    .mainheader{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    .mainheader .logo img{
     width: 250px; height: 90px;
     padding-left: 60px;
     padding-top: 10px;
    }
    
    .mainheader nav{
     width: 450px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    
    .mainheader nav a{
     text-decoration: none;
     color: black;
     text-transform: uppercase;
    }
    
    .menubtn{
     margin-right: 80px;
    }
    .mainheader button{
     padding: 10px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    
    
    main{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main .right-sec{
     padding-right: 70px; 
    }
    main .right-sec img{
        height: 500px;
        width: 500px;
    }
    main .left-sec{
     padding-left: 100px;
    }
    
    .left-sec h2{
     font-size: 20px;
     text-transform: capitalize;
     font-weight: lighter;
     color: #242424;
     margin-top: 100px;
    }
    
    .left-sec h1{
     font-size: 55px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;
    }
    
    .left-sec p{
     margin-bottom: 20px;
    }
    
    .left-sec button{
     padding: 15px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    .feature{
        background-color: gainsboro;
    }
    .feature-heading
    {
        margin-left: 80px;
        text-align: center;
    }

     .option  {
        width: 100%;
        text-align:start;
        margin:30px;
        
    }.option_select{
        background-color:rgb(173, 157, 245);
        border-radius: 25px;
        color:white;
        font-size: 30px;
    }
    .search input{
        background-color:whitesmoke;
        color:black;
        font-size:30px;
        width: 200px;
        transition: width ease-in-out 0.5s;
        padding: 10px;
        border: 3px solid blue;
        border-radius: 25px;
        box-sizing: border-box;
        height: 35px;
    
       /* search icon design*/   
        background-image:url("search.png");
        background-repeat: no-repeat;
        background-position:8px 6px;
        font-size: 1rem;
        padding:15px 40px;
    }
    .search input:focus{
        width: 80%;
        border: 3px solid black;
        border-radius: 25px;}
    
    
    .accordion{
        overflow: hidden;
        color: black;
        margin: 10px;
        margin-left: 80px;
    }
    .accordion__label, .accordion__content{
        padding: 14px 20px;
    }
    
    /* Paragraph or String will be hidden  */
    .accordion__content{
        display: none;
    }
    
    
    .accordion__label{
        
        color:green;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        position: relative;
        transition: background 0.1s;
    }
    
    
    /* checkbox icon will be disable*/
    .accordion__input{
        display: none;
    }
    
    
    /* after click button string or paragraph will show*/
    .accordion__input:checked~ .accordion__content{
        display: block;
    }
    
    